@import "compass";
@import "palette";

$base-font: "Roboto", "Helvetica", "Arial", sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

$header-img: "smts-top.png";

@mixin box-shadow-large {
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-med {
    -moz-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-small {
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

body {
  background-color: $primary-color-text;
  font-family: $base-font;
  color: $primary-text-color;
}

header {
  @include box-shadow-med;
  background-color: $primary-color-dark;
  background-size: 100%;
  background-image: image-url($header-img);
  height: image-height("../images/#{$header-img}") * 1.5;
  z-index: 999;
}

main {
  margin: 1.5em 0;
}

.bit-20 {
  width: 20%;
}

h1 {
  font-size: $base-font-size * 2;
}
h3 {
  font-size: $base-font-size * 1.5;
}

.brand {
  padding: 0.75em;
  a {
    color: $primary-color-text;
    text-decoration: none;
    &:before {
      background-color: $primary-color-text;
      content: "";
      position: absolute;
      width: 15%;
      height: 2px;
      bottom: 21px;
      left: 10px;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.stickynav {
  background-color: $primary-color-dark;
  min-width: 100%;
  position: fixed;
}

.navbar-menu {
  background-color: $primary-color-dark;
  color: $primary-color-text;
  li {
    border-radius: 0.313em;
    display: inline;
    float: right;
    margin-left: 2em;
    min-width: 5em;
    padding: 0.75em 0.625em;
    text-align: center;
    @include single-transition(background-color, 0.3s, ease-out);
    &:hover{
      background-color: $primary-color;
      @include single-transition(background-color, 0.3s, ease-in);
    }
  }
}

.content {

}

.content h1, .content h2, .content h3, .content h4 {
  text-align: center;
}

.card {
  background: $primary-color-text;
  border: 1px solid $divider-color;
  @include box-shadow-large;
  max-width: 100%
}

.content .card {

}

.card-content {
  padding: 1em;
}

.card-content h1, .card-content h2, .card-content h3, .card-content h4 {
  margin: 0.5em;
  text-align: center;
}

.card-content p {
  margin: 0.5em;
}

.card-content i {
  color: #212121;
  display: block;
  text-align: center;
}

.sidebar {

}

.sidebar .card {

}

.form-container {

}

footer {
  background-color: #388e3c;
  height: 1px;
}

#contact-form {
  background-color: $primary-color-light;
  border: 1px solid scale-lightness($primary-color-light, -5%);
  @include box-shadow-large;
  margin: 0 auto;
  padding: 0.5em;
}

#contact-form h3 {
  text-align: center;
}

#contact-form input, label, textarea {
  display: block;
  margin: 5px auto 3px auto;
  padding: 5px 5px 5px 5px;
  width: 80%;
}

#contact-form input, textarea {
  border: 1px solid $divider-color;
  margin-top: -5px;
}

#contact-form button {
  background-color: #2196f3;
  border: none;
  border-radius: 1px;
  @include box-shadow-small;
  display: block;
  min-height: 30px;
  margin: 10px auto 10px auto;
  min-width: 65%;
}

.header-btn {
  text-align: right;
}

.header-btn button {
  font-size: 1.5em;
  background-color: #2196f3;
  border: none;
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  display: inline;
  min-height: 5em;
  margin: -11em 3em 0 0;
  min-width: 25%;
  padding: 1em;
}

#header-img {
    background-color: #b6b6b6;
}

#header-img img {
  width: 100%;
}
// small
@media (max-width: 30em) {
  header {
    height: image-height("../images/#{$header-img}") / 3;
    background-repeat: no-repeat;
    @include box-shadow-small;
  }
  .bit-20 {
    width: 100%;
  }
  .bit-25 {
    width: 100%;
  }
  .bit-60 {
    width: 100% !important;
  }
  .bit-75 {
    width: 100%;
  }
  .stickynav {
      display: none;
  }
  .card {
    @include box-shadow-med;
  }
  #contact-form {
    @include box-shadow-med;
  }
}
// medium
@media (min-width: 30em) and (max-width: 50em) {
  header {
    height: image-height("../images/#{$header-img}") / 2;
    background-repeat: no-repeat;
    @include box-shadow-small;
  }
  .bit-20 {
    width: 100%;
  }
  .bit-25 {
    width: 100%;
  }
  .bit-60 {
    width: 100% !important;
  }
  .bit-75 {
    width: 100%;
  }
  .stickynav {
      display: none;
  }
  .card {
    @include box-shadow-med;
  }
  #contact-form {
    @include box-shadow-med;
  }
}
// large
@media (min-width: 50em) and (max-width: 70em) {
  header {
    height: image-height("../images/#{$header-img}") / 1.125;
    background-repeat: no-repeat;
    @include box-shadow-med;
  }
  .bit-20 {
    width: 100%;
  }
  .bit-25 {
    width: 100%;
  }
  .bit-60 {
    width: 100% !important;
  }
  .bit-75 {
    width: 100%;
  }
  .stickynav {
      display: none;
  }
  .card {
    @include box-shadow-med;
  }
  #contact-form {
    @include box-shadow-med;
  }
}
