body {
  background-color: #4CAF50;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #212121;
}

.wrapper {
  display: table;
  height: 100%;
  text-align: left;
  width: 100%;
}

header {
  display: table-row;
  height: 1px;
}

main {
  display: table;
  height: 100%;
  /*margin: 20px 0 20px 0;*/
  width: 100%;
}

.box {
  display: table-cell;
}

.content {
  width: 50%;
}

.card {
  background: #ffffff;
  border: 1px solid #b6b6b6;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.2);
  margin-bottom: 30px;
  padding: 5px;
}

.card h2 {
   margin: 3px auto 15px auto;
}

.card h4 {
   margin: 10px auto 15px auto;
}

.content .card {

  /*margin: 15px, auto;*/
  /*padding: 0 15px;*/
  width: 95%;
}

.sidebar {
  /*margin: 10px;*/
  width: 20%;
}


.sidebar .card {
  width: 95%;
}

footer {
  background-color: #388e3c;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  display: table-row;
  height: 1px;
}

#contact-form {
  background-color: #C8E6C9;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.2);
  height: 35%;
  width: 80%;
  padding: 0 auto 10px auto;
  padding-bottom: 10px;
}

#contact-form h3 {
  text-align: center;
  padding-top: 10px;
}

#contact-form input, label, textarea {
  box-shadow: none;
  display: block;
  margin: 5px auto 3px auto;
  padding: 5px 5px 5px 5px;
  width: 80%;
}

#contact-form input, textarea {
  border: 1px solid #b6b6b6;
  margin-top: -5px;
}

#contact-form button {
  background-color: #2196f3;
  border: none;
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  display: block;
  min-height: 30px;
  margin: 10px auto 10px auto;
  min-width: 65%;
}


#header-img img {
  width: 100%;
}

#stickynav {
  background-color: #388E3C;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  height: 50px;
  margin-top: -20px;
  width: 100%;
}
#stickynav li {
  background-color: #388E3C;
  color: #ffffff;
  display: inline;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-left: 3rem;
  padding: 12px 10px 13px 10px;
}

#stickynav li:hover{
  background-color: #4CAF50;
}

@media (max-width: 420px) {
  .box {
    display: block;
    width: 100%;
  }
}

